body {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px; }

.logo {
  width: 100%;
  height: 100px;
  background-image: url("/Images/Excido Logo 340 x 130.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.superscript {
  position: relative;
  top: -10px;
  left: -3px;
  margin-right: -5px; }

div[class^=col-].buttons {
  padding: 0;
  text-align: center; }
  div[class^=col-].buttons .btn-default {
    border: none;
    padding: 2px; }

span {
  font-style: italic; }

button.btn i.fa.fa-btn {
  padding-right: 0; }

button.btn i.fa, button.btn i.glyphicon {
  padding-right: 10px; }

.placeholder {
  color: lightgray; }

.text-danger {
  color: #d30000; }

.text-danger:hover,
.text-danger:focus {
  color: #843534; }

.jumbotron {
  padding-left: 20px;
  padding-right: 20px; }
  .jumbotron p {
    font-size: 14pt; }

.mask {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: .33;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 98;
  border-radius: 10px; }

.inner {
  background-color: white;
  text-align: center;
  width: 200px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 99; }

.message {
  height: 50px;
  width: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100; }

.click-to-edit {
  border: 1px solid rgba(211, 211, 211, 0); }
  .click-to-edit i {
    color: transparent; }
  .click-to-edit button,
  .click-to-edit input {
    outline: none;
    border: none;
    box-shadow: none; }
  .click-to-edit textarea {
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    resize: none; }

.click-to-edit:hover {
  border: 1px solid lightgray;
  border-radius: 5px; }
  .click-to-edit:hover i {
    color: lightgray; }

div.is-editing:hover,
div.is-editing {
  border: 1px solid #00456d;
  border-radius: 5px;
  /*i{
        display: none;
    }*/ }

.is-editing i,
.is-editing:hover i {
  color: #00456d; }

.vertical-align {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center; }

.relative {
  position: relative; }

div.absolute-horizontal-right {
  margin-right: 10px; }

.absolute-horizontal-right {
  position: absolute;
  right: 0; }

.absolute-vertical-middle {
  position: absolute;
  top: 0;
  bottom: 0; }

.absolute-vertical-middle-nudge {
  position: inherit;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

ul.list-group {
  overflow-x: hidden; }

.small {
  font-size: 70%; }

.light {
  color: GrayText; }

.clickable:hover {
  text-shadow: 1px 1px 5px #000000; }

.row.labl-five {
  margin-bottom: -5px;
  margin-top: 5px; }

div.bottom-line {
  border-bottom-color: #efefef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0, rgba(240, 240, 240, 0) 93%, rgba(239, 239, 239, 0.65) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0, rgba(240, 240, 240, 0) 93%, rgba(239, 239, 239, 0.65) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0, rgba(240, 240, 240, 0) 93%, rgba(239, 239, 239, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6efefef',GradientType=1 ); }

input[uib-datepicker-popup].seventy-five-percent {
  width: 75%; }

.top-pad-10 {
  padding-top: 10px; }

.left-margin-neg-25 {
  margin-left: -25px; }

textarea.no-resize {
  resize: none; }

/*Extra Small*/
@media (max-width: 767px) {
  body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px; }
  .logo {
    background-position: center; }
  .container {
    margin-bottom: 20px; }
  .footer {
    background-color: white;
    padding: 10px;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%; }
  #main {
    margin-bottom: 50px; }
  .wait {
    width: 100%;
    min-height: 200px;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-y: auto; } }

/*Small*/
@media (min-width: 768px) {
  .container .jumbotron {
    padding: 20px; }
  .logo {
    background-position: center; }
  .wait {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-y: auto; } }

/*Medium*/
@media (min-width: 992px) {
  .logo {
    background-position: left; }
  div.bottom-line {
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: 0;
    background: none;
    filter: none; }
  .pop-edit {
    position: absolute;
    z-index: 99999;
    background-color: white;
    width: 95%; } }

/*Large*/
@media (min-width: 1200px) {
  .logo {
    background-position: left; }
  .jumbotron {
    padding-left: 20px;
    padding-right: 20px; }
  .pop-edit {
    position: absolute;
    z-index: 99999;
    background-color: white;
    width: 95%; } }

