<div class="container" ng-controller="shared-units as sharedunits">
    <div id="wrap">
        <div id="main">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="logo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 <!--col-sm-9--> ">
                        <p>
                            Excido is a sample, full-stack, Single Page Application made by
                            <a id="bill-link" href="http://bamapps.com/about-us/bill-fugina/" target="_blank">Bill Fugina</a>
                            <a href="https://www.linkedin.com/pub/bill-fugina/7/314/b7a" target="_blank" class="superscript" style="text-decoration:none;">
                                <span style="font: 80% Arial,sans-serif; color:#0783B6;">
                                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Bill Fugina's LinkedIn profile" style="vertical-align:middle;" border="0">
                                </span>
                            </a>
                            using <a id="angular" target="_blank" href="https://angular.io/">Angular</a> and the Microsoft .NET framework.
                        </p>
                        <p>
                            If you would like to follow the progress or learn more about the
                            <a href="http://bamapps.com/about-us/tools/" target="_blank">tools and technologies</a>
                            used in building this app, please visit my other site,
                            <a id="bamapps" target="_blank" href="http://bamapps.com/">BAM Apps</a>.
                        </p>
                        <p>
                            The plan is for Excido to become a content sharing service where content can be set to expire and disappear.
                            At the moment, it is simply a short-link service.
                            You may create a short link in the {{sharedunits.slugPrefix}} namespace that redirects to any other valid link.
                        </p>
                        <p>
                            Your short link must end in a unique slug and must form a valid HTML URL.
                            There is currently no error checking, so invalid URLs will probably crash the software.
                            Use at your own risk.
                        </p>
                        <!--<p><a class="btn btn-primary btn-lg" target="_blank" href="http://www.bamapps.com" role="button">Learn more</a></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="wait">
            <div class='mask' ng-hide="sharedunits.ready">
            </div>
            <div class='inner' ng-hide="sharedunits.ready">
                <div class='message'>
                    <span>Please Wait</span><br />
                    <i class='fa fa-spinner fa-spin fa-2x'></i>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item list-group-item-info visible-md-block visible-lg-block">
                    <div class="row relative">
                        <div class="col-xs-10 col-sm-11 col-md-10">
                            <div class="row">
                                <div class="col-xs12 col-md-3">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-xs12 col-md-3">
                                    <strong>Content</strong>
                                </div>
                                <div class="col-xs12 col-md-3">
                                    <strong>Short Link</strong>
                                </div>
                                <div class="col-xs12 col-md-3">
                                    <strong>Expiration</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-2 buttons">
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-repeat="unit in sharedunits.units">
                    <div class="row relative">
                        <div class="col-xs-10 col-sm-11 col-md-10">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 bottom-line">
                                    <div class="row lab-five hidden-md hidden-lg">
                                        <div class="col-xs-12">
                                            <span class="small light">Name</span>
                                        </div>
                                    </div>
                                    <div class="row click-to-edit" ng-click="unit.editName()" ng-class="{'is-editing': unit.isEditingName}">
                                        <div class="col-xs-12">
                                            <div ng-show="(unit.Name == null || unit.Name == '') && !unit.isEditingName" ng-click="unit.editName()" class="pull-left">
                                                <span class="placeholder">Name</span>
                                            </div>
                                            <span ng-hide="unit.isEditingName" ng-click="unit.editName()">{{unit.Name}}</span>
                                            <input ng-show="unit.isEditingName"
                                                   ng-model="unit.Name"
                                                   sync-focus-with="unit.isEditingName"
                                                   on-enter-key="unit.stopEditingName()"
                                                   on-tab-key="unit.editContent()"
                                                   ng-blur="unit.stopEditingName()" />
                                            <i ng-hide="unit.isEditingName" class="fa fa-pencil fa-2x placeholder pull-right"></i>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-md-3 bottom-line">
                                    <div class="row lab-five hidden-md hidden-lg">
                                        <div class="col-xs-12">
                                            <span class="small light">Content</span>
                                        </div>
                                    </div>
                                    <div class="row click-to-edit" ng-click="sharedunits.editContent(unit)" ng-class="{'is-editing': unit.isEditingContent, 'pop-edit' : unit.isEditingContent}">
                                        <div class="col-xs-12">
                                            <div ng-show="(unit.Content == null || unit.Content == '') && !unit.isEditingContent" ng-click="unit.editContent()" class="pull-left">
                                                <span class="placeholder">Content</span>
                                            </div>
                                            <span ng-hide="unit.isEditingContent" ng-click="unit.editContent()">{{unit.Content | collapse}}</span>
                                            <textarea msd-elastic rows="1"
                                                      ng-show="unit.isEditingContent"
                                                      ng-model="unit.Content"
                                                      sync-focus-with="unit.isEditingContent"
                                                      on-enter-key="unit.stopEditingContent()"
                                                      on-tab-key="unit.editSlug()"
                                                      ng-blur="unit.stopEditingContent()"></textarea>
                                            <i ng-hide="unit.isEditingContent" class="fa fa-pencil fa-2x placeholder pull-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3 bottom-line">
                                    <div class="row lab-five hidden-md hidden-lg">
                                        <div class="col-xs-12">
                                            <span class="small light">Slug</span>
                                        </div>
                                    </div>
                                    <div class="row" <!--ng-click="unit.editSlug()"--> >
                                        <div class="col-xs-12  click-to-edit" ng-class="{'is-editing': unit.isEditingSlug}" ng-click="unit.editSlug()">
                                            <div ng-show="(unit.Slug == null || unit.Slug == '') && !unit.isEditingSlug" ng-click="unit.editSlug()" class="pull-left">
                                                <span class="placeholder">Slug</span>
                                            </div>
                                            <span class="small light" ng-hide="unit.isEditingSlug">{{sharedunits.slugPrefix}}</span>
                                            <span ng-hide="unit.isEditingSlug" ng-click="unit.editSlug()">{{unit.Slug}}</span>
                                            <input ng-show="unit.isEditingSlug"
                                                   ng-model="unit.Slug"
                                                   sync-focus-with="unit.isEditingSlug"
                                                   on-enter-key="unit.stopEditingSlug()"
                                                   ng-blur="unit.stopEditingSlug()" />
                                            <i ng-hide="unit.isEditingSlug" class="fa fa-pencil fa-2x placeholder pull-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3 bottom-line">
                                    <div class="row lab-five hidden-md hidden-lg">
                                        <div class="col-xs-12">
                                            <span class="small light">Expiration</span>
                                        </div>
                                    </div>
                                    <div class="row click-to-edit" ng-click="unit.editExpireDate()" ng-class="{'is-editing': unit.isEditingExpireDate || unit.isPickingExpireDate}">
                                        <div class="col-xs-12">
                                            <input type="text"
                                                   uib-datepicker-popup="MM-dd-yyyy"
                                                   sync-focus-with="unit.isEditingExpireDate"
                                                   is-open="unit.isPickingExpireDate"
                                                   datepicker-append-to-body="true"
                                                   ng-blur="unit.stopPickingExpireDate()"
                                                   ng-model="unit.ExpireDate"
                                                   ng-model-options="{ updateOn: 'blur' }"
                                                   on-enter-key="unit.stopEditingExpireDate()" />
                                            <i ng-hide="unit.isPickingExpireDate" ng-click="unit.pickExpireDate($event)" class="fa fa-calendar fa-2x placeholder pull-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-2 buttons">
                            <button class="btn btn-default" uib-tooltip="Copy shortlink" tooltip-append-to-body="true">
                                <i class="fa fa-2x fa-btn fa-copy text-muted"
                                   clipboard
                                   clipboard-text="sharedunits.getLinkUrl(unit)"
                                   clipboard-success="sharedunits.clipboardSuccess(unit)"
                                   clipboard-error="sharedunits.clipboardError(unit)"></i>
                            </button>
                            <br class="visible-xs-block hidden-md hidden-lg" />
                            <a class="btn btn-default" ng-href="{{sharedunits.getLinkUrl(unit)}}" uib-tooltip="Go to shortlink" tooltip-append-to-body="true">
                                <i class="fa fa-2x fa-btn fa-link"></i>
                            </a>
                            <br class="visible-xs-block hidden-md hidden-lg" />
                            <button class="btn btn-default" uib-tooltip="Delete content" tooltip-append-to-body="true">
                                <i class="fa fa-2x fa-btn fa-times-circle text-danger" ng-click="sharedunits.deleteUnit(unit)"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-default" ng-click="sharedunits.addClick()"><i class="fa fa-plus"></i>Add</button>
        <button class="btn btn-success" ng-click="sharedunits.saveClick()" ng-disabled="!sharedunits.hasChanges"><i class="fa fa-check"></i>Save</button>
        <button class="btn btn-danger" ng-click="sharedunits.cancelClick()" ng-disabled="!sharedunits.hasChanges"><i class="fa fa-remove"></i>Cancel</button>
    </div>
</div>
